_build
public
*.pyc
*.vscode
*.code-workspace
.vscode/
**/venv/
*.venv/
**/vscode/
**/index.spec.ts-snapshots/
.idea/
/src/main/Central/Modules/experiment_dispatcher/scenario_*
iperfLog.txt
/api/src/edpapi_fh_dortmund_project_emulate/static/ecdsa.pub
/src/main/Central/Configuration/ecdsa
/bare-composes/seqam-central/
/bare-composes/seqam-distributed-event-manager/
/bare-composes/seqam-network-event-manager/
